.input {
	margin-bottom: 30px;

	textarea {
		outline: none;

		width: 500px;
		font-size: 18px;
		padding: 3px 8px;
		max-width: 500px;
		max-height: 200px;
		min-height: 32px;
		height: 32px;
		border: 2px solid rgb(85, 85, 85);
		border-radius: 5px;

		// transition: 300ms;

		&:focus {
			outline: none;

			// transition: 300ms;
			border: 2px solid rgb(0, 0, 0);

		}
	}
}