.typeChoosing {
	display: flex;

	margin-bottom: 30px;
	align-items: center;

	.whichType {
		margin-right: 15px;
	}

	.allTypes {
		display: flex;
		align-items: center;

		.typeElem {
			color: rgb(102, 102, 102);

			margin-right: 15px;
			cursor: pointer;

			&:hover {
				color: rgb(0, 0, 0);

			}



		}

		.activeType {
			color: rgb(0, 0, 0);
			cursor: default;

		}
	}


}